@page "/ca"
@using Facturation.Shared
@inject HttpClient HttpClient

<h1>Chiffre d'Affaires</h1>

@if (allAggregates == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Mois</th>
                <th>CA facture</th>
                <th>CA reel</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var aggregate in allAggregates)
        {
            <tr>
                <td>@aggregate.Mois</td>
                <td>@aggregate.CaFacture</td>
                <td>@aggregate.CaReel</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    private IEnumerable<Aggregate> allAggregates = null;
    
    protected override async Task OnInitializedAsync()
    {
        allAggregates = await HttpClient.GetFromJsonAsync<IEnumerable<Aggregate>>("api/aggregates");
    }

}

