@page "/"
@inject HttpClient HttpClient

<h1>Facturation</h1>

@if (dataCA == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>CA Facturé</th>
            <th>Trésorerie en attente</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>@dataCA["CAfacture"].ToString("€ 0.00")</td>
            <td>@dataCA["TresoEnAttente"].ToString("€ 0.00")</td>
        </tr>
        
        </tbody>
    </table>
}

@code {
    private Dictionary<string, float> dataCA = null;
    
    protected override async Task OnInitializedAsync()
    {
        dataCA = await HttpClient.GetFromJsonAsync<Dictionary<string, float>>("api/dashboard");
    }
}
