@page "/"
@inject HttpClient HttpClient

<h1>Facturation</h1>

@if (dataCA == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>CA Facturé : <strong>@dataCA["CAfacture"].ToString("€ 0.00")</strong></h2>

    <h2>Trésorerie en attente : <strong>@dataCA["TresoEnAttente"].ToString("€ 0.00")</strong></h2>
}

@code {
    private Dictionary<string, float> dataCA = null;
    
    protected override async Task OnInitializedAsync()
    {
        dataCA = await HttpClient.GetFromJsonAsync<Dictionary<string, float>>("api/dashboard");
    }
}
