@page "/"

<h1>Facturation</h1>

<h2>CA Facturé : <strong>data.CAfacture.ToString("€ 0.00")</strong></h2>

<h2>Trésorerie en attente : <strong>data.TresoEnAttente.ToString("€ 0.00")</strong></h2>
